<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="style.css">
    <link href="//fonts.googleapis.com/css?family=Oswald&subset=latin" rel="stylesheet" type="text/css">

  </head>
  <body>
        
                <div class='topnav'>
                    <a href='/'>Home</a>
                    <a href='/about'>About</a>
                    <a href='/contact'>Contact</a>
                </div>
                <div>
    <div>
      <h1 class="head">About Me</h1>
      <p  class="info">My name is Efren. I was born and raised by first generation immigrants in Southern California, particularly in a small town named Moreno Valley.
        Not much ever happened there, but it was home to the greatest teacher I've ever met. He was my physics teacher and he had a deep passion 
        for creating things and making things happen. He infused that same passion into me.
      </p>
    </div>
    <h1 class="head">Here's some of my previous work</h1>
    <div>
        <div class="one">
            <img src="Giphymon.PNG" class="screen"/>
            <a href='https://hackathon-ugjhiwmtfs.now.sh/' class="link">Hackathon</a>
            <p>A hackathon I made using two api calls. Search any pokemon and get thier stats plus gifs!</p>
        </div>
        <div class="two">
            <img src="VSTDA.PNG" class="screen"/>
            <a href='https://eg-vstda.herokuapp.com/' class="link">Very Simple Todo App</a>
            <p>As the name implies its a todo app! Input what you want to do and make a list you can edit later.</p>
        </div>
        <div class="three">
            <img src="Change.PNG" class="screen"/>
            <a href='https://eg-change-calculator.herokuapp.com/' class="link">Change Calculator</a>
            <p>A simple change calculator. Imput a price and money given and it returns your change!</p>
        </div>
        </div>
  </body>
</html>