<html>

<head>
    <title>Change Info</title>
    <link rel="stylesheet" href="style.css">
    <link href="//fonts.googleapis.com/css?family=Oswald&subset=latin" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

</head>

<body>
    <header>
        <h2><a href="/"><img id="logo" src="name.png" alt=""></a></h2>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>
    <div class="title2">
        <h1 href="">Change Calculator</h1>
    </div>
    <div class="change-container">
        <a href="https://eg-change-calculator.herokuapp.com/"><img class='change-pic' src="Change.PNG" /></a>
        <h3 class="change-text"> &emsp; &emsp; So this is a pretty simple project. It's basically just a calculator.
            While that might not be super impressive at first it was a great tool for teaching some basic javascript
            logic as well as state management in a react component.</h3>
    </div>

    <footer id="social-media">
        <ul>
            <li><a href="https://www.linkedin.com/in/efrengomez/"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://github.com/Efrengom "><i class="fab fa-github-square"></i></a></li>
        </ul>
        <!-- <p>&copy;<script>document.write(new Date().getFullYear());</script> It sure is fun create websites.</p> -->
        <p>&ldquo; Tell me and I forget, teach me and I may remember, involve me and I learn.&rdquo; &mdash;Benjamin
            Franklin</p>
    </footer>
</body>

</html>