<html>

<head>
    <title>Portal Info</title>
    <link rel="stylesheet" href="style.css">
    <link href="//fonts.googleapis.com/css?family=Oswald&subset=latin" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

</head>

<body>
    <header>
        <h2><a href="/"><img id="logo" src="name.png" alt=""></a></h2>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>

    <div class="portal-container">
        <img class='portal-pic' src="Giphymon.PNG" />
        <h3 class="portal-text"> &emsp; &emsp; During this point of the curriculum we had to do a hackathon of sorts.
            While it didn't have the intensity of having to compete with other people at the same time, this project
            still had a time limit to really push students into doing their absolute best in only 48 hours. The only
            restriction was we had to make 2 different api calls in our project.<br> &emsp; &emsp; Jumping right into
            it I had no clue as to what I wanted to do. I went through list after list of different api's to see what
            really stood out, what could I combine to make some really cool project. After some I finally to use the
            Giphy search api and the Pokemon api to make a sort of psuedo PokeDex.</h3>
    </div>

    <footer id="social-media">
        <ul>
            <li><a href="https://www.linkedin.com/in/efrengomez/"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://github.com/Efrengom "><i class="fab fa-github-square"></i></a></li>
        </ul>
        <!-- <p>&copy;<script>document.write(new Date().getFullYear());</script> It sure is fun create websites.</p> -->
        <p>&ldquo; Tell me and I forget, teach me and I may remember, involve me and I learn.&rdquo; &mdash;Benjamin
            Franklin</p>
    </footer>
</body>

</html>