<html>

<head>
    <title> Efren's Portfolio </title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

</head>

<body>
    <div class='topnav'>
        <a href='/'>Home</a>
        <a href='/about'>About</a>
        <a href='/contact'>Contact</a>
        <a href='https://github.com/settings/profile'>Github</a>
        <a href='https://www.linkedin.com/in/efren-gomez-3a5a9a162/'>LinkedIn</a>
    </div>
    <div class='flexbox-1'>
        <div class="pic">
            <img src='https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/19554887_1571061989637635_2779297561443377549_n.jpg?_nc_cat=0&oh=f2c38ef705a265c0709d52c5d459be8a&oe=5C098822'
                class="profile" />
        </div>
    </div>
    <div class="intro">
        <h3>
            Hello! My name is Efren Gomez and welcome to my portfolio.
        </h3>
    </div>
    <div class="intro">
        <h3>
            This website will be going through constant changes as I improve my talent. Feel free to look around and check me out!
        </h3>
    </div>
</body>

</html>