<html>

<head>
    <title>Portal Info</title>
    <link rel="stylesheet" href="style.css">
    <link href="//fonts.googleapis.com/css?family=Oswald&subset=latin" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

</head>

<body>
    <header>
        <h2><a href="/"><img id="logo" src="name.png" alt=""></a></h2>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>
    <div class="title2">
        <h1 href="">Origin Portal</h1>
    </div>
    <div class="portal-container">
        <img class='portal-pic' src="OriginPHomepage.PNG" />
        <h3 class="portal-text"> &emsp; &emsp; So this was my first taste at a much larger project that an entire team
            worked on at the same time. Made using React/Redux for the frontend and loopback for the backend. It was
            originally created as a platform to connect potential employers to graduates of Origin. At this point and
            time in the curriculum I was feeling pretty comfortable with React but the new challenge was working on a
            team for a single project. <br> &emsp; &emsp; Lots of challenges arose quickly since the entire group that
            joined the project didn't have any experience working in a group for a single project or used github for
            this sort of management. We all made plenty of mistakes such as pushing straight into our master branch or
            causing huge conflicts with other members. Thankfully our instructors knew the struggles we would go
            through at first and were watching our steps and fixed any mistake we would make. <br> &emsp; &emsp; By the
            end of our sprint however the entire team was moving like clockwork, communicating every action we were
            going to take so the entire team could take a second to save their work or rebase or whatever was needed to
            make sure everything was running smoothly.</h3>
    </div>

    <footer id="social-media">
        <ul>
            <li><a href="https://www.linkedin.com/in/efrengomez/"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://github.com/Efrengom "><i class="fab fa-github-square"></i></a></li>
            <!-- <li <a href="#"><i class="fas fa-file"></i></a></li> -->
        </ul>
        <!-- <p>&copy;<script>document.write(new Date().getFullYear());</script> It sure is fun create websites.</p> -->
        <p>&ldquo; Tell me and I forget, teach me and I may remember, involve me and I learn.&rdquo; &mdash;Benjamin
            Franklin</p>
    </footer>
</body>

</html>