<html>

<head>
  <title>Thank You</title>
  <link rel="stylesheet" href="style.css">
  <link href="//fonts.googleapis.com/css?family=Oswald&subset=latin" rel="stylesheet" type="text/css">

</head>

<body>

  <div class='topnav'>
    <a href='/'>Home</a>
    <a href='/about'>About</a>
    <a href='/contact'>Contact</a>
    <a href='https://github.com/settings/profile'>Github</a>
    <a href='https://www.linkedin.com/in/efren-gomez-3a5a9a162/'>LinkedIn</a>
  </div>
  <div>
    <div>
      <p>
        Thank you <%= contact.firstName %> <%= contact.lastName %>. I'll get back to you ASAP.
      </p>
    </div>
</body>

</html>