<html>

<head>
    <title>VSYDA Info</title>
    <link rel="stylesheet" href="style.css">
    <link href="//fonts.googleapis.com/css?family=Oswald&subset=latin" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

</head>

<body>
    <header>
        <h2><a href="/"><img id="logo" src="name.png" alt=""></a></h2>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>
    <div class="title2">
        <h1 href="">Very Simple Todo App</h1>
    </div>
    <div class="VSTDA-container">
        <img class='VSTDA-pic' src="VSTDA.PNG" />
        <h3 class="VSTDA-text"> &emsp; &emsp; This right here was my first real experience using React for state
            management across multiple components. It was a real struggle for a long time trying to understand how
            state was handled. After days of trying many things I came across a pretty detailed guide on exactly how
            state was going to be passed and manipulated. <br> &emsp; &emsp; The way I made my VSTDA work was by
            initially storing state inside one component. Then from that next component it would then be mapped out
            using a function and passed to another component. The next step was to have that component display it in a
            nice fashion. If any data needed to be changed it would have to be passed back to the first component and
            modified there. <br> &emsp; &emsp; Looking back I feel as though I might have overcomplicated many things
            about the project but what I ended up with was a solid understanding of how state works in the React
            lifecycle.</h3>
    </div>

    <footer id="social-media">
        <ul>
            <li><a href="https://www.linkedin.com/in/efrengomez/"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://github.com/Efrengom "><i class="fab fa-github-square"></i></a></li>
            <!-- <li <a href="#"><i class="fas fa-file"></i></a></li> -->
        </ul>
        <!-- <p>&copy;<script>document.write(new Date().getFullYear());</script> It sure is fun create websites.</p> -->
        <p>&ldquo; Tell me and I forget, teach me and I may remember, involve me and I learn.&rdquo; &mdash;Benjamin
            Franklin</p>
    </footer>
</body>

</html>